body {
	/*padding: 50px;*/
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
	color: #00B7FF;
}
#content {
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}
#room {
	background-color: #E55B53;
	height: 20em;
}
#messages {


	overflow: auto;
	background-color: #eee;
/*	margin-bottom: 1em;
	margin-right: 1em;*/
	height: 20em;
	border-right: 10px solid #E55B53;


}

#room-list {
	/*border:2px;*/
	overflow: auto;
	background-color: #eee;
	/*overflow: auto;*/
	/*float:right;*/
	/*margin-bottom: 1em;*/
	/*margin-right: 10px;*/
	height: 20em;
	border-left: 10px solid #E55B53;


}
#room-list ul {
	
}